<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{selectedItem.shopName}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ip}}{{selectedItem.shopFullImg}}" alt="" style=" width: 100%; height: 500px; ">
            </div>
        </div>
    </div>
</div>

<mat-card class="mb-20">

    <mat-card-content>
        <mat-card-title>
            {{tableTitle | uppercase}} {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loading}"></i>
            <p *ngIf="!loading && tableData==0">No data available</p>
            <!-- <button type="button" class="btn btn-primary" >Open child modal</button> -->

        </mat-card-title>

     
    </mat-card-content>
</mat-card>

<div class="container-fluid" *ngIf="tableData.length>0">
    <div class="row">

    </div>
    <div class="row js">
        <ng-container *ngFor="let item of tableData;let i=index">
            <mat-card class=" col-md-3 example-card card2 ml-3 mt-3">
       
                <div class="ribbon">
                        <img mat-card-image class="small" src="{{ip}}{{item?.shopFullImg}}" width="250" height="300" alt="" (click)="setSelectedItem(item);showChildModal()">
                        <span *ngIf="item?.evaluationStatus == 1"  class="ribbon-{{item.score>70?'green':'red'}}">
                            <span>{{item.score}}</span>
                        </span>
                </div>
               
                
                <mat-card-content>
                    <!-- <table class="table" (click)="getPdf(item);" style="cursor:pointer"> -->
                    <table class="table" style="cursor:pointer">

                        <tr *ngFor="let item2 of tableData[i].itemList" (click)="goToEvaluation(item.surveyId)">
                            <!-- test -->
                            <th>{{item2.heading}}</th>
                            <td>{{item2.value}}</td>


                        </tr>
                        <!-- <hr> -->
                    </table>
                </mat-card-content>
              
            </mat-card>
        </ng-container>

    </div>
</div>