<!--'/dashboard/home' -->
<mat-card class="mb-20" *ngIf="router.url==='/dashboard/home'">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
            <small style="color:lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">Your file is
                being prepared for download</small>

        </mat-card-title>
        <section class="example-section">

            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select placeholder="Zone" name="zone" [(ngModel)]="selectedZone"
                    (ngModelChange)="regionChangeGetSurveyerList()">
                    <mat-option [value]="zone" *ngFor="let zone of zones">{{zone?.title}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="regions.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion"
                    >

                    <mat-option [value]="region" *ngFor="let region of regions">{{region?.fullName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate"
                    placeholder="Choose a start date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate"
                    placeholder="Choose a end date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

        </section>

        <section class="example-section">
            <button *ngIf="router.url==='/dashboard/home'" 
                mat-raised-button color="warn" (click)="getCELandingPageSummary()">Get Data</button>


        </section>

    </mat-card-content>
</mat-card>

<!-- stats Tabs-->
<div *ngIf="!loading && router.url==='/dashboard/home'" class="mb-20 animated  slideInLeft" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">

<div class="row web-view">
    <!-- <p>web view</p> -->
    <div class="col">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-2">
                        <div>
                            <app-stat [bgClass]="'info'" [icon]="'assignment'" [count]="tabsData?.pending_shops" [label]="'Planned'">
                            </app-stat>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <app-stat [bgClass]="'warn'" [icon]="'check_circle'" [count]="tabsData?.evaluated_shops" [label]="'Evaluated'">
                            </app-stat>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <app-stat [bgClass]="'success'" [icon]="'thumb_up'" [count]="tabsData?.approved_shops" [label]="'Successful'"></app-stat>
                        </div>
                    </div>
                    <div class="col-md-2">

                        <div>
                            <app-stat [bgClass]="'danger'" [icon]="'thumb_down'" [count]="tabsData?.red_flag_shops" [label]="'Un-Successful'"></app-stat>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div>
                            <app-stat [bgClass]="'danger'" [icon]="'contact_support'" [count]="tabsData?.pending_shops" [label]="'Unvisited'">
                            </app-stat>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div>
                            <app-stat [bgClass]="'purple'" [icon]="'check_circle'" [count]="tabsData?.evaluated_shops_per" [label]="'Productivity %'"></app-stat>
                        </div>
                    </div>

                    <!--<div class="col-md-2">

                        <div>
                            <app-stat [bgClass]="'primary'" [icon]="'thumb_up'" [count]="tabsData?.successfulPercent" [label]="'Successful %'"></app-stat>
                        </div>
                    </div>-->




                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row mobile-view">
    <!-- <p>mobile view</p> -->

    <div class="col-12">
        <mat-card>
            <mat-card-header style="justify-content: flex-end;">

            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-6 mobile-view-info-tabs">
                        <div>
                            <app-stat [bgClass]="'info'" [icon]="'assignment'" [count]="tabsData?.planned" [label]="'Planned'">
                            </app-stat>
                        </div>
                    </div>
                    <div class="col-6 mobile-view-info-tabs">
                        <div>
                            <app-stat [bgClass]="'warn'" [icon]="'check_circle'" [count]="tabsData?.completed" [label]="'Productive'">
                            </app-stat>
                        </div>
                    </div>
                    <div class="col-6 mobile-view-info-tabs">
                        <div>
                            <app-stat [bgClass]="'success'" [icon]="'thumb_up'" [count]="tabsData?.successful" [label]="'Successful'"></app-stat>
                        </div>
                    </div>
                    <div class="col-6 mobile-view-info-tabs">

                        <div>
                            <app-stat [bgClass]="'danger'" [icon]="'thumb_down'" [count]="tabsData?.unsuccessful" [label]="'Un-Successful'"></app-stat>
                        </div>
                    </div>

                    <div class="col-6 mobile-view-info-tabs">
                        <div>
                            <app-stat [bgClass]="'danger'" [icon]="'contact_support'" [count]="tabsData?.unvisited" [label]="'Unvisited'">
                            </app-stat>
                        </div>
                    </div>

                    <div class="col-6 mobile-view-info-tabs">
                        <div>
                            <app-stat [bgClass]="'purple'" [icon]="'check_circle'" [count]="tabsData?.completedPercent" [label]="'Productivity %'"></app-stat>
                        </div>
                    </div>

                    <div class="col-6 mobile-view-info-tabs">

                        <div>
                            <app-stat [bgClass]="'primary'" [icon]="'thumb_up'" [count]="tabsData?.successfulPercent" [label]="'Successful %'"></app-stat>
                        </div>
                    </div>




                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

</div>

<!-- stats end-->


<ng-container *ngIf="tableData.length>0 && router.url==='/dashboard/home'">
    <mat-card >
        <mat-card-content>

            <table class="table animated slideInLeft">
                <thead>
                    <tr>

                        <th scope="col" (click)="sortIt('m_code')">Author Code
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('m_code')}}
                            </i>

                        </th>
                        
                        <th scope="col" (click)="sortIt('full_name')">Author Name
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('full_name')}}
                            </i>

                        </th>
                        <th scope="col" (click)="sortIt('shops')">Shops
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('shops')}}
                            </i>

                        </th> 
                        <th scope="col" (click)="sortIt('evaluated_shops')">Evaluated Shops
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('evaluated_shops')}}
                            </i>

                        </th>  
                         

                        <th scope="col" (click)="sortIt('approved_shops')">Approved Shops
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('approved_shops')}}
                            </i>

                        </th>
                        <th scope="col" (click)="sortIt('pending_shops')">Pending Shops
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('pending_shops')}}
                            </i>

                        </th> 
                        <th scope="col" (click)="sortIt('red_flag_shops')">Red Flag
                            <br>
                            <i class="material-icons arrow">
                                {{getArrowType('red_flag_shops')}}
                            </i>

                        </th>


                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of tableData | orderBy: sortBy : sortOrder">
                        <tr>
                            <td scope="row">{{item.m_code}}</td>
                            <td>
                                {{item.full_name}}
                            </td>

                            <td>{{item.shops}}</td>
                            <td class="a-link" *ngIf="item.evaluated_shops!=0" title="evaluated_shops">
                                <a class="a-link" target="_blank" title="view shop details"
                                    [routerLink]="['/dashboard/shop_detail',item.id]"
                                    [queryParams]="{'id':item.id,'remark_id':-1}"
                                    queryParamsHandling="merge">{{item?.evaluated_shops}}</a>

                            </td>
                            <td *ngIf="item?.evaluated_shops==0">
                                {{item?.evaluated_shops}}

                            </td>
                          <td class="a-link" *ngIf="item?.approved_shops!=0" title="Successful">
                                <a class="a-link" target="_blank" title="view shop details"
                                    [routerLink]="['/dashboard/shop_detail',item.id]"
                                    [queryParams]="{'id':item.id,'remark_id':1}" queryParamsHandling="merge">
                                    {{item?.approved_shops}}</a>

                            </td>
                            <td *ngIf="item?.approved_shops==0">
                                {{item?.approved_shops}}

                            </td>

                            <td class="a-link" *ngIf="item.pending_shops!=0" title="Un-Successful">
                                <a class="a-link" target="_blank" title="view shop details"
                                    [routerLink]="['/dashboard/shop_detail',item.id]"
                                    [queryParams]="{'id':item.id,'remark_id':0}" queryParamsHandling="merge">
                                    {{item?.pending_shops}}</a>

                            </td>
                            <td *ngIf="item?.pending_shops==0">
                                {{item?.pending_shops}}

                            </td>



                            <td>{{item.red_flag_shops}}</td>
                           <!--<td>{{getPercentage(item.completed_percent)}}</td>
                            <td>{{getPercentage(item.successful_percent)}}</td>--> 

                        </tr>
                    </ng-container>



                </tbody>


            </table>

        </mat-card-content>
    </mat-card>
</ng-container>
<!--'/dashboard/home'  end-->